name: Auto Publish

on:
  push:
    branches:
      - master
    paths-ignore:
      - '**.md'
      - '.vscode/**'

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        token: ${{ secrets.GITHUB_TOKEN }}

    - name: Install Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 18

    - name: Configure Git
      run: |
        git config user.name "GitHub Actions"
        git config user.email "actions@github.com"

    - name: Install dependencies
      run: npm ci

    - name: Run Build
      run: npm run compile

    - name: Bump Version & Push Tag
      id: bump_version
      run: |
        npm version patch -m "Bump version to %s [skip ci]"
        git push --follow-tags origin master

    - name: Publish to VS Code Marketplace
      uses: HaaLeo/publish-vscode-extension@v1
      with:
        pat: ${{ secrets.VSCE_PAT }}
        registryUrl: https://marketplace.visualstudio.com
